---
import { experienceData } from "../data/experience-data";
import { Image } from "astro:assets";
---


{experienceData.map((data) => (
  <div class="experience-container">
    <Image src={data.logo} alt={data.company}/>
    <div class="info-container">
      <h3>{data.company}</h3>
      <h4>{data.years}</h4>
      <p>{data.info}</p>
    </div>
  </div>
))}

<style>
  .experience-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
    border: 2px solid var(--white);
    border-radius: 10px;
    padding: 20px 0;
    color: var(--white);
    margin: 20px 0;
  }

  .experience-container > img{
    background: var(--white);
    width: 20%;
    height: 20%;
    padding: 5px;
    border-radius: 5px;
  }

  .info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .info-container > h4{
    font-size: 20px;
  }
  @media screen and (max-width: 555px) {
    .experience-container{
      padding: 30px 0;
  }
  .info-container > p{
    font-size: 16px;
  }
    .experience-container > img{
    width: 40%;
    height: 40%;
  }
	}

  @media screen and (max-width: 435px) {
		.experience-container{
      justify-content: center;
    }
	}
</style>