---
import { Image } from "astro:assets";
import { projectsData } from "../data/projects-data";
---

{projectsData.map((data) => (
  <div class="project-container">
    <Image src={data.image} alt={data.title} />
    <div class="info-container"> 
      <h3>{data.title}</h3>
      <h4>{data.technologies}</h4>
      <p>{data.description}</p>
      <div class="link-container">
        <a href={data.repoUrl} target="_BLANK" class="github-button">Github repo</a>
        <a href={data.url} target="_BLANK" class="project-button">Project link</a>
      </div>
    </div>
  </div>
))}

<style>
  .project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width:100%;
    border: 2px solid var(--white);
    border-radius: 10px;
    padding: 20px 20px;
    color: var(--white);
    margin: 15px 0;
  }

  .project-container > img {
    width: 20%;
    height: 20%;
  }

  .info-container {
    width: 75%;
  }

  .info-container > h3{
    font-size: 23px;
  }

  .link-container{
    display: flex;
    gap: 10px;
    margin: 20px 0 0 0;
  }

  .project-button{
    color: #000;
    background: var(--white);
    padding: 8px;
    border: 4px solid var(--white);
    border-radius: 5px;
    filter: opacity(85%);
    cursor: pointer;
    transition: 450ms all;
    text-decoration: none;
  }

  .project-button:hover{
    filter: brightness(1);
  }

  .github-button{
    color: var(--white);
    background: #000;
    padding: 8px;
    border: 4px solid var(--white);
    border-radius: 5px;
    filter: opacity(85%);
    cursor: pointer;
    transition: 450ms all;
    text-decoration: none;
  }

  .github-button:hover{
    filter: brightness(1);
  }
  @media screen and (max-width: 435px) {
		.project-container{
      flex-direction: column;
    }
    .project-container>img{
      width: 50%;
      height: 50%;
    }
	}

  @media screen and (max-width: 555px) {
    .project-container{
      padding: 30px 0;
  }
  .info-container > p{
    font-size: 16px;
  }
    .experience-container > img{
    width: 60%;
    height: 60%;
  }
	}

</style>
